

/* for mobile devices */

@media (max-width:688px) {
    .left-content{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .left-content>div>p{
        margin-top: 10px;
        width: 100%;
        text-align: justify;
       
    }
    .left-content>div{
        padding-right: 0;
    }
}

   /* for tablet devices */

   @media only screen and (min-width:668px) and (max-width:992px) {
    .left-content>div:nth-child(1){
        text-align: justify;
    }
    .right-content{
        min-width: 20rem;
    }
   }