
/* for mobile devices */
@media (max-width:688px) {

    .pageHeading>:nth-child(1) {
        font-size: 1.5rem;
        text-align: justify;
    }

}

/* for tablet devices */
@media only screen and (min-width:668px) and (max-width:992px) {
    .pageHeading>h1{
        font-size: 2rem;
    }
}